
body {
  background-color: #1a1a1a;
  color: white;
  margin: 15px;
  font: 15px arial, sans-serif;
}

#gallery img  {
  display: inline-block;
  width: 10%;
}

a:visited {
  color: orangered;
}

a {
  color: orange;
}

p {
  text-align: justify;
  font-size: 1.1em;
  margin-right: 50%;
  line-height: 150%;
}

h2 {
  color: cornflowerblue;
}

input {
  font-size: 1.2em;
  display: block;
  margin-top: 10px;
}

#output img {
  display: block;
  margin-bottom: 20px;
  max-width: 85%;
  min-width: 15%;
  margin-left: auto;
  margin-right: auto;
}
